<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzBeUaj8QW70FzIDkP-v-r81hha7nX2oU</string>
	<key>GCM_SENDER_ID</key>
	<string>44329246590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cotaniNew.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cotani-gdsc</string>
	<key>STORAGE_BUCKET</key>
	<string>cotani-gdsc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44329246590:ios:34d4cde1229375f8255d2f</string>
</dict>
</plist>